.container-principal {
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.container-principal {
  color: rgba(73, 184, 112, 0.851);
  font-size: 2rem;
}
.grid-fotos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  padding-inline: 10vw;
  height: 60vh;
  scrollbar-width: none;
  overflow-y: auto;
  padding-block: 15px;
  margin: 0 auto;
}
.retorno {
  display: grid;
  place-content: center;
  padding-top: 20px;
}
.voltar {
  background-color: rgba(57, 160, 68, 0.797);
  padding-block: 3px;
  padding-inline: 30px;
  border-radius: 10px;
  font-size: 1.4rem;
  border: 2px solid rgb(88, 175, 30);
}
.voltar a {
  color: white;
}
.voltar:hover {
  transition: ease 0.5s;
  cursor: pointer;
  transform: scale(1.1);
}
.foto-dog {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
}

.foto-dog:hover {
  cursor: zoom-in;
  transform: scale(1.05);
}
@media (max-width: 950px) {
  .grid-fotos {
    grid-template-columns: 1fr 1fr;
    padding-inline: 10vw;
  }
  .foto-dog {
    height: 200px;
  }
}

@media (max-width: 650px) {
  .container-principal {
    font-size: 1.4rem;
  }
  .grid-fotos {
    padding-inline: 5vw;
  }
  .foto-dog {
    height: 160px;
  }
}
