<footer>
    <div class="git">
        <i class="devicon-github-original"></i>
        <p><a href="https://github.com/Bre01cc/Angular-API_Dog">GitHub</a></p>
    </div>
    <div class="git">
        <i class="devicon-readthedocs-original"></i>
        <p>Documentação: <a href="https://github.com/Bre01cc/Angular-API_Dog">Dog-API</a></p>
    </div>
    <div class="git">
        <p>Desenvolvedores: <a href="">Breno</a>, <a href="">Gabryel</a> e <a href="">Guilherme</a> | 2025</p>
    </div>

</footer>