/* You can add global styles to this file, and also import other style files */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: aquamarine;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
a{
    text-decoration: none;
}
