*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #f0fff4;
    width: 100vw;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

a{
    text-decoration: none;
}
