/* Dentro de main.css */
:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  .central {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  h1 {
    font-size: 3.5rem;
    color: rgba(30, 77, 46, 0.851);
  }
  
  input {
    width: 70%;
    height: 45px;
    border-radius: 7rem;
    text-align: center;
    margin: 10px;
    font-size: 1.5rem;
  }